

<%= form_for @user do |user|%>

    <label class="control-label">First Name:</label>
    <div class="controls">
      <%= user.text_field :first_name , placeholder: "First Name" %>
    </div>
  </div>
  <br>
  <div class="control-group">
    <label class="control-label">Middle Name</label>
    <div class="controls">

      <%= user.text_field :middle_name , placeholder: "Middle Name" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Last Name</label>
    <div class="controls">
      <%= user.text_field :last_name , placeholder: "Last Name" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Course</label>
    <div class="controls">

      <%= user.text_field :course , placeholder: "Course" %>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label">Year</label>
    <div class="controls">
      <%= user.text_field :year , placeholder: "Year" %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Company:</label>
    <div class="controls">
      <%= user.text_field :company , placeholder: "Company" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Started At:</label>
    <div class="controls">
      <%= user.text_field :started_at , placeholder: "Started At" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Ended At:</label>
    <div class="controls">
      <%= user.text_field :ended_at , placeholder: "Ended At" %>
    </div>
  </div>

  <%= user.submit class:"btn btn-primary"%>
<%end%>
