<table>
  <tr>
    <td>
    First Name:<br><input type = "text" name="first_name" value=<%=@user.first_name%>>
    </td>
    <td>
      Middle Name:<br><input type = "text" name="middle_name" value=<%=@user.middle_name%>>
    </td>
    <td>
      Last Name:<br><input type = "text" name="last_name" value = <%=@user.last_name%>>
    </td>
  </tr>
  <tr>
    <td>
    Course:<br> <input type = "text" name="course" value= <%=@user.course%>>
    </td>
    <td>
      Year:<br> <input type = "text" name="year" value=<%=@user.year%>>
    </td>
    <td>
      Company Name:<br> <input type = "text" name="company" value=<%=@user.company%>>
    </td>
  </tr>
  <tr>
    <td>
      Started At:<br> <input type = "text" name="started_at" value=<%=@user.started_at%>>
    </td>
    <td>
      Ended At:<br> <input type = "text" name="ended_at" value=<%=@user.ended_at%>>
    </td>
  </tr>
</table>
