<br>
  <div class ="well well-large">
    <h1>User List</h1>
  </div>
<div class="well well-large">
<% if flash[:notice]%>
<div class="alert alert-info">
  <b> Notice: </b><%=flash[:notice]%>
</div>
<%end%>
<table class ="table table-striped">
  <tr>
    <th>
       Name:
    </th>
    <th>
      Course/Year
    </th>
    <th>
      Company:
    </th>
    <th>
      Stay Duration:
    </th>
    <th>
      Action:
    </th>
    <th>
      Time:
    </th>
  </tr>
  <% @users.each do |user|%>
    <tr>
      <td>
      <%= user.last_name%>, <%= user.first_name%> <%=user.middle_name %>
      <td>
      <%=user.course%><%=user.year%>
      </td>
      <td>
        <%=user.company%>
      </td>
      <td>
        From: <%=user.started_at%><br>
      To:  <%=user.ended_at%>
      </td>
      <td>
        <%= link_to "Show", "/users/#{user.id}" , method: "get" %>
        <%= link_to "Edit", "/users/#{user.id}/edit" , method:"get"%>
        <%= link_to "Delete", "/users/#{user.id}", method: "delete", confirm: "Are you sure you want to delete this user?" %>
        <br>
        <%= link_to "View Time Entries", "/users/#{user.id}/time_entries" , method: :get %>
      </td>
        <td> 
        <%= link_to "Time In", "/users/#{user.id}/time_entries" , method: :post , class: "btn" %>
        <%= link_to "Time Out", "/users/#{user.id}/time_entries/#{user.time_entries.where(date: Date.today)}" , method: :put , class: "btn" %>

      </td>
    
    </tr>
  <%end%>
</table>
<%= link_to "Register for an account" , new_user_path ,class:"btn btn-primary" %>
</div>
<div class="div div-inverse"> </div>
