<h1>Update </h1>
<table>
  <tr>
    <td>
      <b>
        First Name:
      </b>
    </td>
    <td>
      <%=@fn%>
    </td>
  </tr>
  <tr>
    <td>
      <b>
        Middle Name:
      </b>
    </td>  
    <td>
      <%=@mn%>
    </td>
  </tr>
  <tr>
    <td>
      <b>
        Last Name:
      </b>
    </td>
    <td>
      <%=@ln%>
    </td>
  </tr>
  <tr>
    <td>
      <b>
        Course:
      </td>
      <td>
        <%=@cr%>
      </td>
    </tr>
    <tr>
      <td>
          <b>
            Year
          </td>
          <td>
            <%=@yr%>
          </td>
        </tr>
        <tr>
          <td>
            <b>
              Company:
          </td>
          <td>
            <%=@cm%>
          </td>
        </tr>
        <tr>
          <td><b>
            Started At:
          </td>
          <td>
            <%=@sa%>
          </td>
        </tr>
        <tr>
          <td>
            <b>
              Ended At:
            </td>
            <td>
              <%=@ea%>
            </td>
        </tr>
</table>
