<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong> Check your information correctly.
  </div>

<%= form_for [@user, @time_entry], html: { class: "form-horizontal"} do |f|%>
  <div class="control-group">
    <%= f.label :date, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :date %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :time_in, class: "control-label"  %>
    <div class="controls">
      <%= f.text_field :time_in, placeholder: "time_in" %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :time_out, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :time_out, placeholder: "time_out" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :accomplishments, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :accomplishments, placeholder: "accomplishments" %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :remarks, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :remarks, placeholder: "remarks" %>
    </div>
  </div>


  <br>    <%= f.submit %>
<%end%>

