<div class="well well-small">
  <h1>
    Time Entry
  </h1> 
</div>

<form class="form-search">
  <input type="text" class="input-medium search-query">
  <button type="submit" class="btn">Search</button>
</form>

<div class="well well-large">
  <% if flash[:notice] %>
    <div class="alert alert-info">
      <b>Notice:</b><%=flash[:notice] %>
    </div>
  <% end %>
  <%= link_to "Add Entry", new_user_time_entry_path(params[:user_id]), class: "btn btn-warning" %>
</div>

<ul class="thumbnails">
  <% @time_entries.each do |time_entry| %>
    <li class="span4">
    <div class="thumbnail">
      <img data-src="http://placehold.it/300x200">
      <h6><%= time_entry.date %></h4>
      <h4><%= time_entry.time_in %></h4>
      <h4><%= time_entry.time_out %></h4>
      <h4><%= time_entry.accomplishments %></h4>
      <h4><%= time_entry.remarks %></h4>
      <%= link_to "Show", user_time_entry_path(params[:user_id],time_entry.id), class: "btn btn-warning" %>
    </div>
    </li>
  <% end %>
</ul>
